@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}
.dark body {
  @apply bg-zinc-900 text-white;
}
.montserrat {
  font-family: var(--font-montserrat), sans-serif;
}
.montserratBold {
  font-family: var(--font-montserratBold), sans-serif;
}
.clip-triangle {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
